/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
//a:focus { outline: thin dotted; }
a:focus { outline: none; }
a:hover, a:active { outline: none; }


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: merichar
   ========================================================================== */

body {
    margin:auto;
    padding:0;
    width: 944px;
    background-color: #EDEBE9;
}

a.indicates_more:after {
    content: "...";
}

/* Begin HEADER STYLES */
#page_header {
    margin-top: 18px;
    position: relative;
}

#page_header #banner a,
#page_header #banner a:visited {
    height: 56px;
    width: 334px;
    float: left;
    display: block;
    margin: 20px 0px 14px 0px;

    text-decoration: none;
}

#page_header #contact_nav {
    position: absolute;
    float: right;
    right: -6px; /* keep the right edge flush despite '#contact_nav a' padding */
    bottom: 132px;

    color: #808285;
    text-align: right;
}

#page_header #contact_nav > ul {
    list-style-type: none;
}

#page_header #contact_nav > ul > li {
    display: inline;
}


#page_header #contact_nav > ul > li + li:before {
    content: " | "; /* flanking spaces prevents unbalanced single space from display:inline */
    padding: 0px 5px;
}

#page_header #contact_nav > ul > li a,
#page_header #contact_nav > ul > li a:visited {
    font-family: Georgia, serif;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    padding: 2px 6px;
}

#page_header #contact_nav > ul > li a:hover {
    border: 1px solid #808285;
    padding: 1px 5px;
}

#page_header #site_search {
    position: absolute;
    right: 0;
    bottom: 90px;

    color: #808285;
    font: 14px Georgia, serif;
    text-align: right;
    
}

#page_header #site_search input[type=text] {
    width: 144px;
    border: 1px solid #808285;
    font-size: 16px;
    height: 17px;
    color: #808285;
    font: 14px Georgia, serif;
}

#page_header #site_search input[type=submit] {
    padding: 1px 4px;
    border: 1px solid #808285;
    color: #444444;
    font: 14px Georgia, serif;
    vertical-align: bottom;
    background: #d6d3cf;
}
#page_header #site_search input[type=submit]:hover {
    background-color: #EDEBE9;
}

#page_header #site_nav {
    clear: both;
    min-height: 74px;
}

#page_header #site_nav ul#application_menu > li  {
    float: left;
    background: black;
    margin-right: 2px;
}

#page_header #site_nav ul#application_menu > li  a,
#page_header #site_nav ul#application_menu > li  a:visited {
    width: 130px;
    height: 32px;

    display: block;
    text-decoration: none;
    vertical-align: 50%;
}

#page_header #site_nav ul#application_menu > li:last-child {
    margin-right: 0px;
}

#page_header #site_nav ul#application_menu > li.login_button {
    background: #a39d95;
    padding-left: 20px;
    position: relative;
}

#page_header #site_nav ul#application_menu > li.login_button a,
#page_header #site_nav ul#application_menu > li.login_button a:visited {
    color: #FFFFFF;
    font: 21px "Open Sans", sans-serif;
    line-height: 32px;
    text-transform: uppercase;
}

#page_header #site_nav ul#application_menu > li.login_button a:before {
    content: "";
    background-image: url('../images/login-arrows.png');
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: -32px;
}

#page_header #site_nav ul#application_menu > li.login_button a:hover:before,
#page_header #site_nav ul#application_menu > li.login_button a:focus:before,
#page_header #site_nav ul#application_menu > li.login_button a:active:before {
    width: 46px;
}

#page_header #site_nav ul#application_menu > li.request_course {
    background: #d6d3cf;
    padding: 0 10px;
}

#page_header #site_nav ul#application_menu > li.request_course a,
#page_header #site_nav ul#application_menu > li.request_course a:visited {
    font: bold 12px "Open Sans", sans-serif;
    line-height: 32px;
    vertical-align: 50%;
    color: #d05d42;
}






#page_header ul#documentation_menu {
    float: right;
    margin-top: 0px;
    font-family: Open Sans, sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    list-style-type: none;
    min-height: 74px;
    background-color: #EDEBE9;
}


#page_header ul#documentation_menu > li > a,
#page_header ul#documentation_menu > li > a:visited {
    width: 106px;
    padding: 5px 9px 3px 9px;
    min-height: 42px;
    position: relative;    
    text-decoration: none;
    color: inherit;
    display: block;
}

#page_header ul#documentation_menu > li {
    float: left;
    margin-left: 1px;
    opacity:0.85;
    filter:alpha(opacity=85); /* For IE8 and earlier */
}

#page_header nav > ul#documentation_menu > li:first-child {
    margin-left: 0px;
}

#page_header nav > ul#documentation_menu > li.active {
    opacity:1 !important;
    filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}
#page_header nav > ul#documentation_menu > li:hover {
    opacity:1 !important;
    filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}

#page_header nav > ul > li.manage a          { background-color: #A39D95; border-color: #A39D95; }
#page_header nav > ul > li.build a           { background-color: #91BC1B; border-color: #91BC1B; }
#page_header nav > ul > li.communicate a     { background-color: #7FB5BF; border-color: #7FB5BF; }
#page_header nav > ul > li.evaluate a        { background-color: #EA7754; border-color: #EA7754; }
#page_header nav > ul > li.getting_started a { background-color: #F78426; border-color: #F78426; }

#page_header nav > ul#documentation_menu > li.active > a:after {
  content: "";
  border-color: transparent transparent transparent transparent;
  border-top: inherit;
  border-style: solid;
  border-width: 25px 25px 0px 0px;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -25px;
  left: 42px;
}


/* END HEADER STYLES */

#site_sub_nav {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
#site_sub_nav > ul {
    position: absolute;
    width: 100%;
    border-bottom: 10px solid;
    padding: 15px 0 10px 0;
}

#site_sub_nav > ul.manage          { background-color: #BAB6B0; border-color: #A39D95; }
#site_sub_nav > ul.build           { background-color: #ADCD54; border-color: #91BC1B; }
#site_sub_nav > ul.communicate     { background-color: #9fc8cf; border-color: #7FB5BF; }
#site_sub_nav > ul.evaluate        { background-color: #ef997f; border-color: #EA7754; }
#site_sub_nav > ul.getting_started { background-color: #f9a35c; border-color: #F78426; }

#site_sub_nav > ul ul {
    height: 100%;
    padding: 0 10px;
}

#site_sub_nav > ul > .column {
    border-left: 1px solid #fff;
    margin-left: -1px; 
    width: 25% !important;
}

#site_sub_nav > ul > .column:first-child {
    margin-left: 0;
    border-left: none;
}


#site_sub_nav ul  li > h1 a,
#site_sub_nav ul  li > h1 a:hover,
#site_sub_nav ul  li > h1 a:visited {
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font: 15px Georgia,serif;
    background-color: inherit;
}

#site_sub_nav ul  li > h1 {
    padding: 0 10px;
    margin: 0;
}


#site_sub_nav ul > li a,
#site_sub_nav ul > li a:visited {
    color: #000;
    text-decoration: none;
    display: block;
}

#site_sub_nav ul > li a:hover {
    background-color: #EDEBE9;
}

#site_sub_nav ul > li {
    margin-left: -4px;
    margin-bottom: 2px;
    padding: 4px;
    font: 11px Arial,sans-serif;
    line-height: 15px;
}

#site_sub_nav ul > li:first-line {
    margin-bottom: 18px;
}

.afade {
    opacity:0.15;
    filter:alpha(opacity=15); /* For IE8 and earlier */
}


footer {
    min-height: 38px;
    background-color: #808285;
    text-align: center;
    padding: 18px;
    color: #ffffff;
    font: 14px Georgia,serif;
    margin-bottom: 50px;
}

footer > nav > ul {
    list-style-type: none;
}    

footer > nav > ul > li {
    display: inline-block;
    margin: 0;
}

footer > nav > ul > li + li:before {
    content: " | ";
    padding: 0 9px;
}

footer > nav > ul > li a,
footer > nav > ul > li a:hover,
footer > nav > ul > li a:visited {
    color: inherit;
    text-decoration: none;
    padding: 2px 6px;
}
footer > nav > ul > li a:hover {
    border: 1px solid #ffffff;
    padding: 1px 5px;
}









pre {
    font-family: courier, sans-serif;
    font-size: 11pt;
    padding: 10px;
    border: solid 1px #A39D95;
    background-color: #ffffff;
    clear: both;
    margin: 17px;
}

h1 {
    padding-top: 20px;
}




/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
